<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Material properties</title>
</head>
<body>
<div class="header">
    <h1>
        Database of properties of 2D materials with MX<sub>2</sub> and MX<sup>1</sup>X<sup>2</sup> structure
    </h1>
</div>
<h2>Material properties: </h2>
<!--    <p>Поиск по параметру "{{ param }}" {{ operation }} "{{ value }}"</p>-->
<ul>
    <li>Compound: {{ result[1] }}</li>
    <li>2D Crystal System: {{ result[2] }}</li>
    <li>Lattice Constants: {{ result[3] }}</li>
    <li>Lattice Angles: {{ result[4] }}</li>
    <li>Layer Thickness: {{ result[5] }}</li>
    <li>International: {{ result[6] }}</li>
    <li>Space Group: {{ result[7] }}</li>
    <li>Symmetry Operations: {{ result[8] }}</li>

    <li>
        <table class="bands-table">
            <tr>
                <th>Spin channel</th>
                <th>&lt;UP&gt; &lt;DOWN&gt; &lt;TOTAL&gt;</th>
            </tr>
            <tr>
                <td>Band Gap (eV):</td>
                <td>{{ result[9] }}</td>
            </tr>
            <tr>
                <td>Eigenvalue of VBM (eV):</td>
                <td>{{ result[10] }}</td>
            </tr>
            <tr>
                <td>Eigenvalue of CBM (eV):</td>
                <td>{{ result[11] }}</td>
            </tr>
            <tr>
                <td>Fermi Energy (eV):</td>
                <td>{{ result[12] }}</td>
            </tr>
            <tr>
                <td>Highest-Occupied Band:</td>
                <td>{{ result[13] }}</td>
            </tr>
            <tr>
                <td>Lowest-Unoccupied Band:</td>
                <td>{{ result[14] }}</td>
            </tr>
            <tr>
                <td>Location of VBM (UP): )</td>
                <td>{{ result[15] }}</td>
            </tr>
            <tr>
                <td>Location of CBM (UP):</td>
                <td>{{ result[16] }}</td>
            </tr>
            <tr>
                <td>Location of VBM (DW):</td>
                <td>{{ result[17] }}</td>
            </tr>
            <tr>
                <td>Location of CBM (DW):</td>
                <td>{{ result[18] }}</td>
            </tr>
            <tr>
                <td>Location of VBM (TO):</td>
                <td>{{ result[19] }}</td>
            </tr>
            <tr>
                <td>Location of CBM (TO):</td>
                <td>{{ result[20] }}</td>
            </tr>
        </table>
    </li>

    {% set rows = result[21] %}
    {% set row1 = rows[:61] %}
    {% set row2 = rows[61:123] %}
    {% set row3 = rows[123:] %}
    <li>Lattice vectors:<br> {{ row1 }} <br> {{ row2 }} <br> {{ row3 }}</li>

    {% set rows = result[22] %}
    {% set row1 = rows[:61] %}
    {% set row2 = rows[61:122] %}
    {% set row3 = rows[122:] %}
    <li>Ion positions:<br> {{ row1 }} <br> {{ row2 }} <br> {{ row3 }}</li>

    <li>Total energy: {{ result[23] }}</li>
    <li>Total magnetization: {{ result[24] }}</li>

    <li>Stiffness Tensor C_ij (in N/m): {{ result[25] }}</li>
    <li>
        <b>Anisotropic mechanical properties of 2D singlecrystal</b>
        <table class="singlecrystal-table">
            <tr>
                <th>Mechanical Properties</th>
                <th>Min Max Anisotropy</th>
            </tr>
            <tr>
                <td>Young's Modulus E (N/m)</td>
                <td>{{ result[26] }}</td>
            </tr>
            <tr>
                <td>Shear Modulus G (N/m)</td>
                <td>{{ result[27] }}</td>
            </tr>
            <tr>
                <td>Poisson's Ratio v</td>
                <td>{{ result[28] }}</td>
            </tr>
        </table>
    </li>
    <li>
        <b>Average mechanical properties of 2D polycrystal</b>
        <table class="polycrystal-table">
            <tr>
                <th>Mechanical Properties</th>
                <th>Voigt Reuss Hill</th>
            </tr>
            <tr>
                <td>Bulk modulus K (N/m)</td>
                <td>{{ result[29] }}</td>
            </tr>
            <tr>
                <td>Shear modulus G (N/m)</td>
                <td>{{ result[30] }}</td>
            </tr>
            <tr>
                <td>Bulk/Shear ratio</td>
                <td>{{ result[31] }}</td>
            </tr>
        </table>
    </li>

    <li>Vacuum-Level (eV): {{ result[32] }}</li>
    <li>Work Function (eV): {{ result[33] }}</li>
</ul>

<div class="phonon-box">
    <div class="phonon-img"><img alt="phonone" src="{{ url_for('static', filename=result[34]) }}"></div>
    <span>Phonon</span>
</div>

<div class="band-box">
    <div class="band-img"><img alt="band" src="{{ url_for('static', filename=result[35]) }}"></div>
    <span>Bands</span>
</div>

<div class="planar-box">
    <div class="planar-img"><img alt="planar" src="{{ url_for('static', filename=result[36]) }}"></div>
    <span>Planar</span>
</div>
<br><br><br>
<div class="back-button"><a href="{{ url_for('index', search=search_query) }}">Back</a></div>

</body>
</html>
