<!DOCTYPE html>
<html>
<head>
    <title>Параметры соединения</title>
</head>
<body>
<h1>Параметры соединения</h1>
<!--    <p>Поиск по параметру "{{ param }}" {{ operation }} "{{ value }}"</p>-->
<ul>
    <li>ID: {{ result[0] }}</li>
    <li>compound: {{ result[1] }}</li>
    <li>crystal_system: {{ result[2] }}</li>
    <li>lattice_constants: {{ result[3] }}</li>
    <li>lattice_angles: {{ result[4] }}</li>
    <li>layer_thickness: {{ result[5] }}</li>
    <li>international: {{ result[6] }}</li>
    <li>space_group: {{ result[7] }}</li>
    <li>symmetry_operations: {{ result[8] }}</li>
    <li>band_gap: {{ result[9] }}</li>
    <li>eigenvalue_vbm: {{ result[10] }}</li>
    <li>eigenvalue_cbm: {{ result[11] }}</li>
    <li>fermi_energy: {{ result[12] }}</li>
    <li>highest_occupied_band: {{ result[13] }}</li>
    <li>lowest_unoccupied_band: {{ result[14] }}</li>
    <li>loc_vbm_up: {{ result[15] }}</li>
    <li>loc_cbm_up: {{ result[16] }}</li>
    <li>loc_vbm_dw: {{ result[17] }}</li>
    <li>loc_cbm_dw: {{ result[18] }}</li>
    <li>loc_vbm_to: {{ result[19] }}</li>
    <li>loc_cbm_to: {{ result[20] }}</li>
    <li>lattice_vectors: {{ result[21] }}</li>
    <li>ion_positions: {{ result[22] }}</li>
    <li>total_energy: {{ result[23] }}</li>
    <li>total_magnetization: {{ result[24] }}</li>
    <li>stiffness_tensor: {{ result[25] }}</li>
    <li>youngs_modulus: {{ result[26] }}</li>
    <li>shear_modulus: {{ result[27] }}</li>
    <li>poisson_ratio: {{ result[28] }}</li>
    <li>bulk_modulus: {{ result[29] }}</li>
    <li>shear_modulus_mechanical: {{ result[30] }}</li>
    <li>bulk_shear_ratio: {{ result[31] }}</li>
    <li>vacuum_level: {{ result[32] }}</li>
    <li>work_function: {{ result[33] }}</li>
    <li><img alt="phonone" src="{{ url_for('static', filename=result[34]) }}">: {{ result[34] }}</li>
    <li><img alt="band" src="{{ url_for('static', filename=result[35]) }}">: {{ result[35] }}</li>
    <li><img alt="planar" src="{{ url_for('static', filename=result[36]) }}">: {{ result[36] }}</li>


</ul>
<a href="{{url_for('index')}}">Back</a>
</body>
</html>
